---
permalink: "comites/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Comites Cívicos | comites</title>

{% endblock %}

{% block content %}

    <div class="section m-0" style="background-image:url('/src/assets/banners/PP_01-12.png');">
		<div class="container">
			<div class="row justify-content-center">
				<!--Texto-->
				<div class="col-lg-6 col-sm-12 my-4 text-center">
                    <h2 class="text-white" style="font-weight:600">Buscar Comites Cívicos</h2>
                    <div class="search">
                        <input autocomplete="off" id="search" type="search" placeholder="Busca el Comité Cívico" />
                    </div>
                    <div class="relative">
                        <ol id="results" />
                    </div>
                </div>	
			</div>
		</div>
	</div>
	<div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">
			<div class="row">

                {% for comite in collections.comitecivicos%}
                <div class="col-lg-3 my-4">
                    <div class="cuadro_partido h-100 ">
                        <div class="div_imagen">
                            {% if comite.data.imagen %}
                            <img src="{{comite.data.imagen}}">
                            {%  else %}
                            <img src="/src/assets/imgs/placeholder.png">
                            {% endif %}                         
                            <h1>{{comite.data.title | capitalize}} ({{comite.data.nombrecorto}})</h1>
                        </div>
                        <div class="texto">
                            <a href="{{comite.url}}" class="masinfo">Más Información</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

			</div>
		</div>
	</div>

{% endblock %}

{% block body_javascripts %}
    <script src="/src/js/searchcc.js"></script>
{% endblock %}