---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Partidos Públicos | Red Ciudadana</title>

{% endblock %}

{% block content %}
	<!--Contenido-->
	<div class="section m-0" style="background-image:url('/src/assets/imgs/slider.png'); background-size: cover;">
		<div class="container">
			<div class="row">
				<div style="height:450px"></div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3 style="font-weight:600">¿Qué es Partidos Públicos</h3>
					<p>Partidos Públicos es una plataforma que busca facilitar el acceso 
						a la fiscalización ciudadana a la información pública que publican los
						partidos políticos guatemaltecos en transparencia activa, a través 
						de visualizaciones, filtros y comparativas amigables. !Queremos 
						que la trnasparencia sea útil y entendible!</p>
				</div>
				<div class="col-lg-6 d-flex justify-content-center">
					<img src="/src/assets/imgs/video_placeholder.png">
				</div>
			</div>
		</div>
	</div>

	<div class="section m-0" style="background-color:#f1f3fd">
		<div class="container">
			<div class="row my-6">
				<div class="col-lg-8 my-4">
					<h3 style="font-weight:600">Blogs</h3>
					
					<div class="novedad">
						<img src="/src/assets/imgs/cuadro_gris.png">
						<div class="texto">
							<h6 class="text-left">Enero 30, 2022</h6>
							<h3>Lorem ipsum dolor sat</h3>
							<p>Red Ciudadana</p>
						</div>
					</div>

					<div class="novedad">
						<img src="/src/assets/imgs/cuadro_gris.png">
						<div class="texto">
							<h6 class="text-left">Enero 30, 2022</h6>
							<h3>Lorem ipsum dolor sat</h3>
							<p>Red Ciudadana</p>
						</div>
					</div>

					<div class="novedad">
						<img src="/src/assets/imgs/cuadro_gris.png">
						<div class="texto">
							<h6 class="text-left">Enero 30, 2022</h6>
							<h3>Lorem ipsum dolor sat</h3>
							<p>Red Ciudadana</p>
						</div>
					</div>

					<div class="novedad">
						<img src="/src/assets/imgs/cuadro_gris.png">
						<div class="texto">
							<h6 class="text-left">Enero 30, 2022</h6>
							<h3>Lorem ipsum dolor sat</h3>
							<p>Red Ciudadana</p>
						</div>
					</div>

				</div>
				<div class="col-lg-4 my-4">
					<h3 style="font-weight:600">Videos</h3>
					<div class="video">
						<img src="/src/assets/imgs/video_placeholder.png">
					</div>
					<div class="video">
						<img src="/src/assets/imgs/video_placeholder.png">
					</div>
					<div class="video">
						<img src="/src/assets/imgs/video_placeholder.png">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_javascripts %}
	
{% endblock %}