---
permalink: "once/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Partidos Públicos | Partidos</title>

{% endblock %}

{% block content %}

    <div class="section m-0 bg-home">
		<div class="container">
			<div class="row">
				<!--Texto-->
				<div></div>
			</div>
		</div>
	</div>
	<div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">
			<div class="row">

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_partido h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">TSE</h5>
                            <p>Mecanismos que faciliten y promuevan el empadronamiento a la ciudadanía de forma masiva y a través de todos los medios de comunicación posibles.</p>
                        </div>
                    </div>
                </a>

			</div>
		</div>
	</div>

{% endblock %}