---
permalink: "once/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Partidos Públicos | Partidos</title>

{% endblock %}

{% block content %}

    <div class="section m-0 bg-home">
		<div class="container">
			<div class="row">
				<!--Texto-->
				<div></div>
			</div>
		</div>
	</div>
	<div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">
			<div class="row">

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">1. TSE</h5>
                            <p>Mecanismos que faciliten y promuevan el empadronamiento a la ciudadanía de forma masiva y a través de todos los medios de comunicación posibles.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">2. TSE</h5>
                            <p>Las mesas electorales o Juntas Receptoras de Votos permiten garantizar transparencia y credibilidad a lo largo del proceso democrático, así como el control contra actos de fraude electoral.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">3. TSE</h5>
                            <p>El Tribunal Supremo Electoral debe procurar que todas aquellas personas y organizaciones que cumplan con los requisitos se les permita su participación dentro de las elecciones.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">4. TSE</h5>
                            <p>El TSE debe brindar información sobre el proceso electoral de forma clara, oportuna y amigable para la ciudadanía.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">5. TSE</h5>
                            <p>El TSE debe ser el garante de la transparencia, inclusión y eficiencia del mismo.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">6. Partidos políticos</h5>
                            <p>Los partidos políticos deben hacer pública y amigable la información de sus organizaciones para la ciudadanía, cumplir con las normativas que establece el TSE y Fiscalizar todas las actividades del proceso electoral.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">7. Contraloría General de Cuentas</h5>
                            <p>Extender la constancia transitoria de inexistencia de reclamación de cargos a candidatos que participan dentro del proceso electoral y que cumplan con todos los requisitos que la ley establece para para hacerlo.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">8. Contraloría General de Cuentas</h5>
                            <p>Fiscalizar la ejecución pública durante el proceso electoral</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">9. Ciudadanía</h5>
                            <p>La ciudadanía tiene la obligación de Informarse sobre el proceso electoral y fiscalizar el proceso electoral.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">10. Ciudadanía</h5>
                            <p>La ciudadania debe participar activa y efectivamente para incidir y construir una sociedad justa.</p>
                        </div>
                    </div>
                </a>

                <a href="#" target="_blank" class="col-lg-3 my-4">
                    <div class="cuadro_once h-100 ">
                        <div class="div_imagen">
                            <img src="/src/assets/imgs/placeholder.png">   
                        </div>
                        <div class="texto">
                            <h5 style="font-weight:600">11. Corte de Constitucionalidad</h5>
                            <p>La Corte de Constitucionalidad debe buscar que todas aquellas acciones legales que se promuevan respeten las garantías procesales de debido proceso y de los principios democráticos que inspiran nuestra Constitución. </p>
                        </div>
                    </div>
                </a>

			</div>
		</div>
	</div>

{% endblock %}