---
permalink: "partidos/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Partidos Públicos | Partidos</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    <div class="section m-0" style="background-color:#01a19b">
		<div class="container">
			<div class="row justify-content-center">
				<!--Texto-->
                <div class="col-lg-6 col-sm-12">
                    <input autocomplete="off" id="search" type="search" placeholder="Busca algún Partido Público..." />
                    <ol id="results" />
                </div>			
			</div>
		</div>
	</div>
	<div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">
			<div class="row">

                {% for partido in collections.partidospublicos%}
                <div class="col-lg-3 my-4">
                    <div class="cuadro_partido h-100 ">
                        <div class="div_imagen">
                            {% if partido.data.imagen %}
                            <img src="{{partido.data.imagen}}">
                            {%  else %}
                            <img src="/src/assets/imgs/placeholder.png">
                            {% endif %} 
                            <h1>{{partido.data.title | capitalize}} ({{partido.data.nombrecorto}})</h1>
                        </div>
                        <div class="texto">
                            <a href="{{partido.url}}" class="masinfo">Más Información</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

			</div>
		</div>
	</div>

{% endblock %}

{% block body_javascripts %}
    <script src="/src/js/searchpp.js"></script>
{% endblock %}