{% extends "src/base.njk" %}

{% block head %}
<title>{{title | capitalize}} | Partidos Públicos</title>
<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">

            <div class="row my-4" style="background-color:#fff">
                <div class="col-lg-12 d-flex breadcumb" style="padding:20px">
                    <a href="/index.html">Inicio</a> &nbsp/&nbsp <a href="/partidos/index.html">Partidos Políticos</a> &nbsp/&nbsp <a href="#" style="pointer-events:none">{{title}}</a> 
                </div>
            </div>

            <div class="row my-4 ">
                <!--Tabs-->
                <div class="tab col-lg-12 p-0">
                    <button class="tablinks" onclick="openTab(event, 'partido')" id="defaultOpen"><i class="lni lni-grid-alt" style="margin-right:10px"></i>Partido Político</button>
                    <button class="tablinks" onclick="openTab(event, 'presencia')"><i class="fa-sharp fa-solid fa-location-dot" style="margin-right:10px"></i>Presencia Nacional</button>
                    <button class="tablinks" onclick="openTab(event, 'participar')"><i class="fa-solid fa-flag" style="margin-right:10px"></i>¿Cómo Participar?</button>
                    <button class="tablinks" onclick="openTab(event, 'finanzas')"><i class="fa-sharp fa-solid fa-coins" style="margin-right:10px"></i>Finanzas</button>
                    <button class="tablinks" onclick="openTab(event, 'sanciones')"><i class="fa-solid fa-x" style="margin-right:10px"></i>Sanciones</button>
                </div>

            </div>

            <div class="row my-4">
                <div id="partido" class="tabcontent">
                    <div class="row my-4 p-4" style="background-color:#fff">
                        <div class="col-lg-3 logo_partido">
                            <div class="cuadro_imagen"></div>
                        </div>
                        <div class="col-lg-6 informacion_partido d-flex justify-content-center align-items" style="flex-direction:column">
                            <h2 style="font-weight:600">{{nombrecorto}}</h2>
                            <div class="d-flex">
                                <p style="font-weight:600">Nombre: &nbsp</p>
                                <p>{{title | capitalize}}</p>
                            </div>
                            <div class="d-flex">
                                <p  style="font-weight:600">Lema: &nbsp</p>
                            </div>
                            <div class="d-flex">
                                <p  style="font-weight:600">Fundación: &nbsp</p>
                                <p >{{ fundacion | dateFormat('DD/MM/YYYY')}}</p>
                            </div>
                            <div class="d-flex">
                                <p  style="font-weight:600">Dirección: &nbsp</p>
                                <p >{{direccion}}</p>
                            </div>
                            <div class="d-flex">
                                <p  style="font-weight:600">Teléfono: &nbsp</p>
                                <p >{{telefono}}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 contacto_partido d-flex justify-content-center align-items" style="flex-direction:column">
                            <h6 style="font-weight:600;text-align:left;font-size:20px">Contacto</h6>
                            <div class="d-flex">
                                <p >{{paginaweb}}</p>
                            </div>
                            <div class="d-flex">
                                <a href="{{twitter}}"> Twitter</a>
                            </div>
                            <div class="d-flex">
                                <a href="{{facebook}}"> Facebook</a>
                            </div>
                            <div class="d-flex">
                                <p >{{correo}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            <img src="/src/assets/iconos/pp1.png" style="margin:0 25px">Reseña Histórica
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            <p>{{resumen}}</p>
                        </div>
                    </div>

                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            <img src="/src/assets/iconos/pp2.png" style="margin:0 25px">Declaración de Principios
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            <p>{{resumen}}</p>
                        </div>
                    </div>
                </div>

                <div id="presencia" class="tabcontent">
                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            Presencia Nacional
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            <p>{{resumen}}</p>
                        </div>
                    </div>
                </div>

                <div id="participar" class="tabcontent">
                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            ¿Cómo Participar?
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            <p>{{resumen}}</p>
                        </div>
                    </div>
                </div>

                <div id="finanzas" class="tabcontent">
                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            Finanzas
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            <p>{{resumen}}</p>
                        </div>
                    </div>
                </div>

                <div id="sanciones" class="tabcontent">
                    <div class="row my-4" style="background-color:#fff">
                        <div class="col-lg-12 cuadro_titulo">
                            Sanciones
                        </div>
                        <div class="col-lg-12 cuadro_contenido">
                            {% for sancion in collections.sanciones%}
                            <p>{{sancion.data.title.p}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_javascripts %}

    <script>
        function openTab(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
{% endblock %}